body {
  // background: #d1d1d1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* All the immediate children of .center-all will have equal width allocated */

.center-all>* {
  flex: 1;
}

/* Floor grid */

.floor-container {
  display: flex;
  flex-direction: column;
}

#map-trash {
  background: lightblue;
  height: 500px;
}

.map-palette-container {
  height: 100px;
  background: white;
  width: 80%;
  .palette-item {
    .fa {
      color: #727272;
    }
  }
}

.bg-transparent {
  background: transparent;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-direction-row {
  flex-direction: row !important;
}

@mixin flex-justify($justifytype) {
  justify-content: $justifytype !important;
}

@mixin flex-align($aligntype) {
  align-items: $aligntype !important;
}

.justify-content {
  &-spacearound {
    @include flex-justify(space-around);
  }
  &-spacebetween {
    @include flex-justify(space-between);
  }
  &-center {
    @include flex-justify(center);
  }
}

.align-items {
  &-center {
    @include flex-align(center);
  }
}

.flex {
  @for $i from 1 through 10 {
    &-#{$i} {
      flex: #{$i} !important;
    }
  }
}

.full-page {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

.test-container {
  width: 500px;
}

.border {
  @for $i from 1 through 10 {
    &-#{$i} {
      border: #{$i}px solid grey !important;
    }
  }
}

.m {
  @for $i from 1 through 10 {
    &-#{$i} {
      margin: $i * 10px !important;
    }
  }
}

.p {
  @for $i from 1 through 10 {
    &-#{$i} {
      padding: $i * 10px !important;
    }
  }
}

.child-p {
  @for $i from 1 through 10 {
    &-#{$i} {
      &>* {
        padding: $i * 10px !important;
      }
    }
  }
}

.child-m {
  @for $i from 1 through 10 {
    &-#{$i} {
      &>* {
        margin: $i * 10px !important;
      }
    }
  }
}

$w-list: 10 25 50 75 100;
.w {
  @each $width in $w-list {
    &-#{$width} {
      width: unquote($width + "%") !important;
    }
  }
}

.hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee;
  -moz-use-text-color: #ffffff;
  border-style: solid none;
  border-width: 0.2px 0;
  margin: 18px 0;
  height: 1px;
}

.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  margin: 0 auto;
}

.border {
  &-left {
    border-left: 1px solid grey !important;
  }
  &-right {
    border-right: 1px solid grey !important;
  }
  &-top {
    border-top: 1px solid grey !important;
  }
  &-bottom {
    border-bottom: 1px solid grey !important;
  }
}

.building-title {
  color: #363536; // font-family: "Montserrat", sans-serif !important;
}

.halberd-copy {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: lightseagreen;
}

.center-background {
  background: rgba($color: #cdd5e0, $alpha: 0.2);
}

.gk-logo {
  width: 26px;
  margin-right: 10px;
}

.header-bar {
  position: relative;
  padding: 10px;
  height: 50px;
  width: 100%;
  background-color: #34475A;
}

.header-text {
  font-size: 18px;
  color: #ffffff;
}

.content-box {
  height: calc(100vh - 50px);
  background: #F2F2F2;
}

.page {
  height: 100%;
  width: 100%;
}

.left-sidebar {
  position: relative;
  background-color: #407CCA;
  color: #ffffff;
  &__button {
    background: transparent;
    color: white;
  }
  &__title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
  }
}

.toolbar {
  position: relative;
  padding: 10px;
  height: 50px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #B8B8B8;
}